<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="logger" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/>
    </layout>
  </appender>
<!--
# ### prioridades posibles ######
# all							#
# off							#
#  NIVELES 						#
# 0- fatal						#
# 1- error						#
# 2- war						#
# 3- info						#
# 4- debug						#
#################################
-->
  <root>
    <priority value = "DEBUG" />
    <appender-ref ref="logger" />
  </root>
  
</log4j:configuration>