<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="database.properties" />

<!-- 	ALIAS  -->
<!-- 	<typeAliases> -->
<!-- 		<typeAlias alias="Link" type="org.cesg.jshare.models.Link" /> -->
<!-- 	</typeAliases> -->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${database.driver}" />
				<property name="url" value="${database.url}" />
				<property name="username" value="${database.username}" />
				<property name="password" value="${database.password}" />
			</dataSource>
		</environment>
	</environments>

<!-- MAPPERS -->
	<mappers>
		<mapper resource="org/cesg/jlinkstore/kernel/mappers/LinkMapper.xml" />
	</mappers>
</configuration>